@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.inner {
  width: 1060px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  background: #F2F2F2;
  color: #333333;
  font-weight: 400;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  background-color: #FFFFFF;
}

main {
  background-color: #FFFFFF;
}

footer {
  background-color: #FFFFFF;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  height: 65px;
}

.header-logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-item-current {
  position: relative;
  text-decoration-line: underline;
  text-underline-offset: 23px;
  text-decoration-thickness: 2px;
  text-decoration-color: #756257;
}

.navigation {
  display: flex;
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 20px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.promo-section {
  background-image: url("../Images/Index/index-background.jpg");
  background-size: cover;
  height: 485px;
}

.logo-welcome {
  margin: 51px 371px 82px;
}

.welcome-title-place {
  max-width: 620px;
  margin: 63px 290px 0;
}

.welcome-text {
  margin: 31px 273px 90px;
  max-width: 655px;
  height: 26px;
}

.first-list-image {
  max-width: 800px;
}

.first-cell {
  max-width: 400px;
  background: #82B3D3;
  padding: 92px 85px;
}

.advantages-item {
  padding: 80px 85px 81px;
  max-width: 400px;
}

.advantages-icon {
  margin-bottom: 30px;
}

.last-row {
  padding: 103px 85px 102px;
}

.advantages-bonus-color {
  color: #FFFFFF;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-main-color {
  color: #000000;
}

button {
  border: 0;
}

.catalog-sort-button {
  border: solid black 2px;
  border-radius: 3px;
  margin-right: 8px;
}

.advantages-layout {
  display: flex;
  flex-wrap: wrap;
}

.advantages-number-second {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.advantages-description-second {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.bridge-cell {
  background: #82B3D3;
  max-width: 400px;
  padding: 92px 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  max-width: 230px;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
  display: block;
}

.ocean-color {
  background: rgba(131, 179, 211, 0.2);
}

.air-color {
  background: rgba(131, 179, 211, 0.12);
}

.sedona-list {
  list-style-type: none;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.welcome-title,
.hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.second-hotel-title {
  margin: 91px 451px 29px;
}

.hotel-current-page {
  margin: 20px 51px 17px 0;
}

.hotel-description {
  text-align: center;
  width: 592px;
  height: 52px;
  margin: 0 304px 56px;
}

.basic-button {
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 313px 93px;
  width: 574px;
  height: 60px;
}

.subsription-text-color {
  color: #FFFFFF;
}

.subscription-title-index {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  height: 36px;
  margin: 93px 397px 28px;
}

.subscription-info-index {
  width: 472px;
  height: 52px;
  margin: 29px 292px 46px;
}

.second-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription-index {
  background-image: url("../images/Footer/background-subscription.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 1200px;
  height: 411px;
  padding: 1px;
}

.subscription-catalog {
  text-align: center;
  width: 1056px;
  height: 411px;
  padding: 1px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.start-text {
  text-align: center;
}

.find-hotel {
  text-align: center;
}

/*Catalog*/

.main-inner {
  display: flex;
  flex-wrap: wrap;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin-bottom: 10px;
  width: 495px;
  height: 78px;
  margin: 0;
}

.div-filtra {
  background-image: url("../Images/Catalog/Catalog-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  width: 1200px;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  flex-direction: row;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.first-filter {
  margin: 40px 70px 0 0;
  width: 150px;
  height: 149px;
}

.second-filter {
  margin: 40px 175px 0 0;
  width: 145px;
  height: 149px;
}

.catalog-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sorting {
  display: flex;
  margin-bottom: 56px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.catalog-products {
  flex-direction: row;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.clear-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: 191px;
}

.buttons-list {
  margin-left: auto;
}

.sort {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 290px;
  height: 49px;
}

.pagination-line {
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  padding: 12px 24px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-right: auto;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  grid-area: title;
}

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 96px;
}

.product-link {
  text-decoration: none;
  grid-area: image;
}

.product-card {
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-rows: 211px 28px 21px 37px 37px;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  grid-template-areas: "image image"
    "title title"
    "text price"
    "more add"
    "stars rating";
}

/*
.product-card-image {
  grid-area: image;
} */

.product-card-text,
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.more {
  text-decoration: none;
  grid-area: more;
  background: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
}

.add {
  text-decoration: none;
  grid-area: add;
  background: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
}

.add-selected {
  background: #7DB54F;
}

.card-stars {
  grid-area: stars;
}

.product-card-text {
  grid-area: text;
}

.product-card-price {
  grid-area: price;
}

.product-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  grid-area: rating;
  padding-top: 8px;
  background: #F2F2F2;
  border-radius: 4px;
}

.hotel-list {
  padding: 62px 72px 0 72px;
}

.hotel-number {
  display: flex;
  font-size: 18px;
  line-height: 21px;
}

.subscription-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-info-catalog {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-footer {
  text-align: center;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  max-width: 142px;
  margin: 45px 42px 35px 70px;
  list-style-type: none;
}

.footer-social-item {
  margin: 13px 12px;
}

.phone {
  display: block;
  width: 720px;
  height: 50px;
  margin: 40px 0 30px 0;
}

.footer-logo {
  display: block;
  width: 115px;
  height: 34px;
  margin: 48px 70px 38px auto;
}
